<div class="max-w-7xl mx-auto">
  <h1 class="text-3xl font-bold text-center p-4">Task Manager</h1>
</div>

<div class="grid grid-cols-4 gap-4 px-4">
  <!-- Task form -->
  <app-task-form></app-task-form>
  <!-- Task List -->
  <app-task-list [taskItems]="todoItems()" [heading]="'Todo'"></app-task-list>
  <!-- Task List -->
  <app-task-list [taskItems]="inProgressItems()" [heading]="'In Progress'"></app-task-list>
  <!-- Task List -->
  <app-task-list [taskItems]="completedItems()" [heading]="'Completed'"></app-task-list>

  <div>
    @for (taskItem of tasks(); track $index) {
      <div>
        {{ taskItem.task }} - {{ taskItem.status }}
      </div>
    }
  </div>
</div>